In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import xml.etree.ElementTree as ET
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
Names= ["Greg","Marcia","Peter","Jan","Bobby","Cindy","Cousin Oliver"]
df = pd.DataFrame(index=Names)
df.index.name= "NAMES"
df["Age"] = [14,12,11,10,8,6,8]

print(df.describe())

print("variance of " + str((df.std()**2)))

             Age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000
variance of Age    7.47619
dtype: float64

In [7]:
#I will pick mean and std as they would tell more about the sample.

In [8]:
Names= ["Greg","Marcia","Peter","Jan","Bobby","Cindy","Cousin Oliver"]
df1 = pd.DataFrame(index=Names)
df1["Age"] = [14,12,11,10,8,7,8]
df1.index.name = "NAMES"

print(df1.describe())

df.describe() == df1.describe()

#these false things changed and the true ones remained same.

             Age
count   7.000000
mean   10.000000
std     2.516611
min     7.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

         Age
count   True
mean   False
std    False
min    False
25%     True
50%     True
75%     True
max     True

In [9]:
NAMES=["Greg","Marcia","Peter","Jan","Bobby","Cindy","Jessica"]
df2 = pd.DataFrame(index=NAMES)
df2["Age"] =  [14,12,11,10,8,7,9]

df1.describe() == df2.describe()
#these false things changed and the true ones remained same.

         Age
count   True
mean   False
std    False
min     True
25%    False
50%     True
75%     True
max     True

In [ ]:
# Solution 4:

# I would choose median because the mean changed
# std will be chosen cuz variance will be sqaured.Thus value would be larger.

In [2]:
# Solution 5 
# average the all(if any of them is a bad sample representative, we have to omit it) 
answer = (20+23+17)/3
print(answer)

20.0